@font-face{font-family:Exo;src:url(../fonts/exo/Exo2-Regular.ttf);font-weight:400;font-style:normal}@font-face{font-family:Exo;src:url(../fonts/exo/Exo2-Italic.ttf);font-weight:400;font-style:italic}@font-face{font-family:Exo;src:url(../fonts/exo/Exo2-Bold.ttf);font-weight:700;font-style:normal}@font-face{font-family:Exo;src:url(../fonts/exo/Exo2-BoldItalic.ttf);font-weight:700;font-style:italic}@font-face{font-family:Exo;src:url(../fonts/exo/Exo2-SemiBold.ttf);font-weight:400;font-style:normal}@font-face{font-family:Exo;src:url(../fonts/exo/Exo2-SemiBoldItalic.ttf);font-weight:400;font-style:italic}@font-face{font-family:Exo;src:url(../fonts/exo/Exo2-Medium.ttf);font-weight:300;font-style:normal}@font-face{font-family:Exo;src:url(../fonts/exo/Exo2-MediumItalic.ttf);font-weight:300;font-style:italic}@font-face{font-family:Exo;src:url(../fonts/exo/Exo2-Light.ttf);font-weight:100;font-style:normal}@font-face{font-family:Exo;src:url(../fonts/exo/Exo2-LightItalic.ttf);font-weight:100;font-style:italic}

/* Variablat - Start */
@red: #D50000;
@blue: #2196F3;
@green: #00C853;
@orange: #e67e22;
@brown: #a67235;
@purple: #9e5fb8;
@pink: #ff89e5;
@yellow: #f1c40f;

@text-color: #3c5064;
/* Variablat - End */

html, body {
    overflow: hidden;
}

html {
    height: 100%;
}
body {
    background-color: #ecf0f1;
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.luaj-button {
    display: block;
    position: absolute;
    background-color: #ecf0f1;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    margin-top: -125px;
    max-width: 250px;
    width: 100%;
    max-height: 250px;
    height: auto;
    // box-shadow: 0 0 30px rgba(0,0,0,.5);

    a {
        max-width: 250px;
        width: 100%;
        max-height: 250px;
        height: auto;
        border-radius: 50%;
        display: block;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        color: @text-color;
        line-height: 250px;
        text-decoration: none;
        font-family: 'Times New Roman', serif;
    }
    .colors {
        display: block;
        position: absolute;
        width: 290px;
        height: 290px;
        border-radius: 50%;
        top: -20px;
        left: -20px;
        background: url("../img/colors-small.png") no-repeat center center;
        z-index: -2;
    }
}

.footer-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
	height: 5px;
    display: block;

    div {
    	width: 25%;
    	height: 5px;
    	display: inline-block;
    	float: left;

        &.red { background-color: @red; }
        &.yellow { background-color: @yellow; }
        &.green { background-color: @green; }
        &.blue { background-color: @blue; }
    }
}

#timer {
    position: absolute;
    width: 250px;
    height: 250px;
    display: block;
    left: 50%;
    top: 30%;
    margin-left: -125px;
    margin-top: -125px;

    span {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -40px;
        margin-left: 10%;
        width: 80%;
        display: block;
        height: 80px;
        display: block;
        text-align: center;
        font-size: 26px;
        font-weight: 400;
        line-height: 80px;
        text-transform: uppercase;
    }
}

.rezultatiNeLoj {
    position: absolute;
    top: 16px;
    right: 16px;
    color: @text-color;
    font-family: Exo, sans-serif;
    font-size: 18px;
}

.rekordi {
    position: absolute;
    top: 16px;
    left: 16px;
    color: @text-color;
    font-family: Exo, sans-serif;
    font-size: 18px;
}

.kontrollat {
    position: absolute;
    width: 100%;
    height: 64px;
    left: 0;
    bottom: 30px;
    text-align: center;

    .kol-2, .kol-3, .kol-4 {
        float: left;
        text-align: center;
    }

    .kol-2 {
        width: 50%;
    }
    .kol-3 {
        width: 33%;
    }
    .kol-4 {
        width: 25%;
    }

    a {
        display: inline-block;
        line-height: 64px;
        width: 64px;
        height: 64px;
        color: white;
        border-radius: 45%;
        font-size: 48px;

        &.pasakt {
            background-color: @red;
        }
        &.sakt {
            background-color: @green;
        }
        &.back {
            background-color: @blue;
        }
        &.replay {
            background-color: @green;
        }
        &.share {
            background-color: @yellow;
        }
        &.setting {
            background-color: @blue;
        }
        &.leaderboard {
            background-color: @red;
        }
        &.about {
            background-color: @green;
        }
    }
}

.rezultatiFinal {
    position: absolute;
    text-align: center;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    font-size: 64px;
    font-weight: bold;
    line-height: 64px;
    margin-top: -32px;
    font-family: Exo, sans-serif;
    color: @text-color;
}

.highScore {
    margin-top: 30px;
    .yllat {
        display: block;
        text-align:center;
        color: @yellow;
        font-size: 48px;

        i {
            margin: 0 16px;
            display: inline-block;

            &:last-child {
                -webkit-transform: rotate(16deg); /* Chrome, Safari, Opera */
                transform: rotate(16deg);
                padding-top: 16px;
            }
            &:nth-child(2) {
                position: relative;
                width: 37px;
                height: 84px;
                &:before {
                    position: absolute;
                    top: 27px;
                    left: 50%;
                    margin-left: -18px;
                }
            }
            &:first-child {
                -webkit-transform: rotate(-16deg); /* Chrome, Safari, Opera */
                transform: rotate(-16deg);
                padding-top: 16px;
            }
        }
    }
    span {
        display: block;
        text-align: center;
        font-size: 32px;
        color: @text-color;
    }

}

a.zeri {
    display: inline-block;
    line-height: 64px;
    width: 64px;
    height: 64px;
    color: white;
    border-radius: 45%;
    font-size: 48px;
    text-align: center;
    margin: 16px 0 0 16px;

    &.on {
        background-color: @purple;
    }
    &.off {
        background-color: lighten(@purple, 20%);
    }
}